<table style="border-collapse: collapse; width: 701px;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
    <tr>
        <td>
            <table style="border-collapse: collapse; width: 701px;" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td width="148" height="151">
                        <a href="http://www.enex.cl/">
                            <img style="display: block; border: none;" src="${url}img_02.jpg" alt="" width="148" height="151" />
                        </a>
                    </td>
                    <td width="553" height="151">
                        <img style="display: block; border: none;" src="${url}imgs_02.jpg" alt="" width="553" height="151" />
                    </td>
                </tr>
            </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="border-collapse: collapse; width: 701px;" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td width="43" height="63">
                            <img style="display: block; border: none;" src="${url}img_04.jpg" alt="" width="43" height="63" />
                        </td>
                        <td style="font-family: arial; font-size: 12px; color: #0d0d0d; font-weight: bold;" valign="bottom" width="627" height="63">
                            Estimado(a) ${alert.nombre}
                        </td>
                        <td width="31" height="63">
                            <img style="display: block; border: none;" src="${url}img_06.jpg" alt="" width="31" height="63" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="border-collapse: collapse; width: 701px;" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td width="43" height="43">
                            <img style="display: block; border: none;" src="${url}img_04.jpg" alt="" width="43" height="43" />
                        </td>
                        <td colspan="3" style="font-family: arial; font-size: 12px; color: #0d0d0d;" valign="middle" width="626">
                            <br> Informamos que tu cuenta Shellcard Transporte ha sido suspendida por Deuda y/o Exceso de Límite de crédito. 
                        </td>
                        <td width="31" height="43">
                            <img style="display: block; border: none;" src="${url}img_06.jpg" alt="" width="31" height="43" />
                        </td>
                    </tr>
                    <tr>
                        <td width="43" height="73">
                            <img style="display: block; border: none;" src="${url}img_04.jpg" alt="" width="43" height="73" />
                        </td>
                        <td colspan="3" style="font-family: arial; font-size: 12px; color: #0d0d0d;" valign="middle" width="626">
                            <br> Para habilitar nuevamente tus consumos, te invitamos a revisar el detalle de tu estado de cuenta y formas de pago.
                            <a href="http://enexdirecto.enex.cl/Account/PaymentForm">aquí</a>, o bien enviar comprobante al email Formulariodepagos@enex.cl
                            <br> Si el pago ya fue realizado, favor omitir este mensaje.
                        </td>
                        <td width="31" height="73">
                            <img style="display: block; border: none;" src="${url}img_06.jpg" alt="" width="31" height="73" />
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            <img style="display: block; border: none;" src="${url}imgs_13.jpg" alt="" width="43" height="63" />
                        </td>
                        <td colspan="2" style="font-family: arial; font-size: 12px; color: #0d0d0d;" valign="middle" width="419">
                        </td>
                        <td style="font-family: arial; font-size: 12px; color: #0d0d0d; font-weight: bold;" valign="middle" width="208">
                            <span style="font-family: arial; font-size: 12px; color: #0d0d0d;">
                                Gracias por preferirnos.<br>${portal}
                            </span>
                        </td>
                        <td align="right">
                            <img style="display: block; border: none;" src="${url}img_06.jpg" alt="" width="31" height="63" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td width="701" height="30">
            <img style="display: block; border: none;" src="${url}imgs_15.jpg" alt="" width="701" height="30" />
        </td>
    </tr>
    <tr>
        <td width="701" height="23">
            <img style="display: block; border: none;" src="${url}img_14.jpg" alt="" width="701" height="23" />
        </td>
    </tr>
</tbody>
</table>
